<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>Consignee name:</strong>
  <%= @address.consignee_name %>
</p>

<p>
  <strong>Consignee address:</strong>
  <%= @address.consignee_address %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
